body {
  background-color: #dbf1f3;
  font-family: sans-serif;

  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
